- name: update Repo Cache
  command: "yum makecache"
- name: Install Packages
  command: "yum install {{ item }} -y"
  with_items:
    - java-11-openjdk
- name: Get hadoop Packages
  shell: "rm -rvf apache-zookeeper-*-bin.tar.gz  && wget {{ zookeeper_pkg }}"
- name: Extra hadoop Packages
  shell: "rm -rvf /data/apache-zookeeper-* && tar -xpf apache-zookeeper-3.6.2-bin.tar.gz -C /data/"
- name: Mkdir zookeeper Data Dir
  shell: "rm -rvf /data/zookeeperData/ && mkdir -pv /data/zookeeperData"
- name: Set zk config 
  template: src=templates/zoo.cfg dest=/data/apache-zookeeper-3.6.2-bin/conf/zoo.cfg owner=root group=root mode=0644
- name: Set myid config for zookeeper
  template: src=templates/myid dest=//data/zookeeperData/myid owner=root group=root mode=0644
- name: Run zookeeper
  script: files/runserver.sh
