- name: add env config for hadoop
  template: src=templates/hdfs-env.sh dest=/etc/profile.d/ owner=root group=root mode=0644
- name: make env config effect
  shell: "source /etc/profile"
- name: Create HDFS Data DIR
  shell: "mkdir -pv /data/hadoopData/journal && mkdir -pv /data/hadoop-3.3.0/logs" 
- name: Set HDFS Data DIR Perm
  shell: "chown -Rv hdfs:hdfs /data/hadoopData/journal && chown -Rv hdfs:hdfs /data/hadoop-3.3.0/logs" 

- name: Set hadoop config files
  template: src=templates/{{ item }} dest=/data/hadoop-3.3.0/etc/hadoop/{{ item }} owner=hdfs group=hdfs mode=0644
  with_items:
     - core-site.xml
     - hdfs-site.xml

- name: Set hadoop journalnode service
  template: src=templates/{{ item }} dest=/usr/lib/systemd/system/{{ item }} owner=hdfs group=hdfs mode=0755
  with_items:
    - hdfs-journalnode-start.run
    - hdfs-journalnode-stop.run
    - hdfs-journalnode.service

- name:  systemd daemon-reload
  shell: "systemctl daemon-reload"

- name: Start namenode service
  shell: "systemctl restart hdfs-journalnode; systemctl enable hdfs-journalnode"
