[Unit]
Description=HDFS Namenode Service
After=network.target

[Service]
Type=simple
User=hdfs
Group=hdfs
ExecStart=/usr/lib/systemd/system/hdfs-namenode-start.run
ExecStop=/usr/lib/systemd/system/hdfs-namenode-stop.run
Restart=no

[Install]
WantedBy=multi-user.target
