- name: add maven repo
  shell: 'wget http://repos.fedorapeople.org/repos/dchen/apache-maven/epel-apache-maven.repo -O /etc/yum.repos.d/epel-apache-maven.repo'
- name: update Repo Cache
  command: "yum makecache"
- name: Install Packages
  command: "yum install {{ item }} -y"
  with_items:
    - java-1.8.0-openjdk
    - java-1.8.0-openjdk-devel
    - psmisc
    - apache-maven-3.3.9-3.el7
    - git
- name: add env config for RangerAdmin
  template: src=templates/rangeradmin-env.sh dest=/etc/profile.d/ owner=root group=root mode=0644
- name: make env config effect
  shell: "source /etc/profile"
- name: Get Ranger Packages
  shell: "rm -rvf apache-ranger-*.tar.gz && wget {{ ranger_pkg }}"
- name: Extra Ranger Packages
  shell: "rm -rvf /data/apache-ranger* && tar -xpf apache-ranger-*.tar.gz  -C /data/"
- name: Build Ranger Binary
  shell: "cd /data/apache-ranger* &&  nohup mvn clean compile package assembly:assembly install -DskipTests -Drat.skip=true &> /tmp/ranger-build.log  &"

