- name: add env config for hadoop
  template: src=templates/hdfs-env.sh dest=/etc/profile.d/ owner=root group=root mode=0644
- name: make env config effect
  shell: "source /etc/profile"
- name: Create HDFS Data DIR
  shell: "mkdir -pv  /data/hadoopData/tmp/dfs/name ; mkdir -pv /data/hadoopData/tmp/ ; mkdir -pv /data/hadoop-3.3.0/logs"
- name: set hdfs workdir perm
  shell: "chown -Rv hdfs:hdfs /data/hadoop-3.3.0/ /data/hadoopData/"

- name: Set hadoop http_auth_secret
  template: src=templates/hadoop-http-auth-signature-secret dest=/data/hadoop-3.3.0/share/hadoop-http-auth-signature-secret owner=hdfs group=hdfs mode=0400 unsafe_writes=yes

- name: Set hadoop config files
  template: src=templates/{{ item }} dest=/data/hadoop-3.3.0/etc/hadoop/{{ item }} owner=hdfs group=hdfs mode=0644
  with_items:
     - core-site.xml
     - hdfs-site.xml

- name: Set hadoop namenode Services
  template: src=templates/{{ item }} dest=/usr/lib/systemd/system/{{ item }} owner=hdfs group=hdfs mode=0755
  with_items:
    - hdfs-namenode-start.run
    - hdfs-namenode-stop.run
    - hdfs-namenode.service
    - hdfs-zkfc-start.run
    - hdfs-zkfc-stop.run
    - hdfs-zkfc.service

- name:  systemd daemon-reload
  shell: "systemctl daemon-reload"
- name: Start namenode service 
  shell: "systemctl restart hdfs-namenode; systemctl enable hdfs-namenode"
- name: Start zkfc service 
  shell: "systemctl restart hdfs-zkfc; systemctl enable hdfs-zkfc"
