- name: update Repo Cache
  command: "yum makecache"
- name: Install Packages
  command: "yum install {{ item }} -y"
  with_items:
    - java-latest-openjdk
    - java-latest-openjdk-devel
    - psmisc
- name: Get hadoop Packages
  shell: "rm -rvf hadoop*.tar.gz && wget {{ hadoop_pkg }}"
- name: Extra hadoop Packages
  shell: "rm -rvf /data/hadoop-* && tar -xpf hadoop-3.3.0.tar.gz -C /data/"
- name: Set HDFS User_Group And PW
  script: files/set_hdfs_user.sh
  ignore_errors: yes
- name: set hdfs program dir perm
  shell: "chown -Rv hdfs:hadoop /data/hadoop-3.3.0/*"
- name: set hdfs data dir perm
  shell: "mkdir -pv /data/hadoopData/; chown -Rv hdfs:hadoop /data/hadoopData/"
